{% extends 'GeekhubGeekBundle::base.html.twig' %}

{% block title %}Symfony - Edit Article{% endblock %}

{% block content %}

    <a href="{{ path('_articles') }}">
        <h2><span class="glyphicon-arrow-left glyphicon"></span>{% trans %} actions.back {% endtrans %}</h2>
    </a>

    <div id="edit-article">

        <div>

            {{ form_start(form , {'attr' : {'novalidate' : 'novalidate' }}) }}

            {% if not form.vars.valid %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span
                                aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                    {{ form_errors(form.title) }}
                    {{ form_errors(form.text) }}
                </div>
            {% endif %}

            <div class="{% if not form.title.vars.valid %} has-error {% endif %} form-group">
                {{ form_label(form.title, label|default(null), {'label_attr' : { 'class' : 'control-label'} }) }}
                {{ form_widget(form.title , {'attr' : {'class' : 'form-control input-lg input' }}) }}
            </div>

            <div class="{% if not form.text.vars.valid %} has-error {% endif %} form-group">
                {{ form_label(form.text, label|default(null), {'label_attr' : { 'class' : 'control-label'} }) }}
                {{ form_widget(form.text , {'attr' : {'class' : 'form-control input-lg' }}) }}
            </div>

            {{ form_row(form.save , {'attr' : {'class' : 'btn btn-primary' }}) }}
            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}
