<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Welcome!{% endblock %}</title>

    <meta charset="UTF-8"/>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block stylesheets %}
        {% stylesheets
        '@bootstrap_css'
        'bundles/geekhubgeek/css/style.css' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css"/>
        {% endstylesheets %}
    {% endblock %}

    {% block javascript %}
        {% javascripts
        '@jquery'
        '@bootstrap_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="page-header">
        <div class="container">
            <div class="col-sm-8">
                {% block content_header %}
                    <h2>Wall</h2>
                {% endblock %}
            </div>
            <div id="switcher" class="col-sm-4">
                {{ locale_switcher(null, null, 'GeekhubGeekBundle:LanguageSwitcher:switcher.html.twig') }}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="block container">

        {% for flashMessage in app.session.flashBag.get('notice') %}

            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>

                {{ flashMessage }}
            </div>

        {% endfor %}

        {% block content %}{% endblock %}
    </div>
{% endblock %}
</body>
</html>
